<!doctype html>
<html lang="en">
<head>

  <title>Behavior_Tracker</title>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/0.11.0/typeahead.bundle.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/0.11.0/bloodhound.js"></script>


</head>
<body>


  <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">User Options</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <!-- Makes sure only logged in users can search students -->
      {% if 'user_id' in session %}
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User Info
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/user_info/{{ session['user_id'] }}">Students</a>
          <a class="dropdown-item" type="btn" data-toggle="modal" href="#student_search">Student Search</a>
          <a class="dropdown-item" type="btn" data-toggle="modal" href="#addStudent">Add a Student</a>
          <a class="dropdown-item" type="btn" data-toggle="modal" href="#editUserPassword">Edit User Password</a>
        </div>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="/behaviors">Behaviors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/interventions">Interventions</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" type="btn" data-toggle="modal" href="#Login">Login</a>
          <a class="dropdown-item" type="btn" data-toggle="modal" href="#Register">Register</a>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>

  <ul>
        {% for message in get_flashed_messages() %}
            <li> {{ message }} </li>
        {% endfor %}
  </ul>

<!-- Student Search Form Modal -->
<div class="modal fade" id="student_search" tabindex="-1" role="dialog" aria-labelledby="searchStudentModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="exampleModalLabel">Search Students</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <form action = "/student_list" method="GET">
        Enter student's first name:
        <input type="text" name="fname"><br>
        Enter student's last name:
        <input type="text" name="lname"><br>
        Enter student's ID:
        <input type="text" name="student_id"><br><br>
        Enter student's birthdate:
        <input type="date" name="birthdate"><br>
        <br>
        </div>
        <div class="modal-footer">
        <input type="Submit" id="search_student_submit", value="Search">
        </form>
      </div>
    </div>
  </div>
</div>


<!-- addStudent Form Modal -->
{% if 'user_id' in session %}
<div class="modal fade" id="addStudent" tabindex="-1" role="dialog" aria-labelledby="addStudent" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="exampleModalLabel">Add Student</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <form action = "/add_student" method="POST">
            Enter student's first name:
            <input type="text" name="fname"><br>
            Enter student's last name:
            <input type="text" name="lname"><br>
            Enter student's birthdate:
            <input type="date" name="birthdate"><br>
            Enter phone number:
            <input type="text" name="phone"><br>
            Add a photo (link to jpg):
            <input type="text" name="photo"><br>
      </div>
      <div class="modal-footer">
        <input type="Submit">
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}


<!-- Edit user password Modal -->
{% if 'user_id' in session %}
<div class="modal fade" id="editUserPassword" tabindex="-1" role="dialog" aria-labelledby="editUserPassword" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="exampleModalLabel">Reset User Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <form action = "/edit_user/{{ user.user_id }}" method="POST">
        <h2>{{ user.user_name }}</h2>
        <div>
        Please enter your current password:
        <input type="text" name="current_password"><br>
        </div>
        <div>
        New Password:
        <input type="text" name="new_password"><br>
        </div>
      </div>
      <div class="modal-footer">
        <input type="Submit">
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}


<!-- Login Form Modal -->
<div class="modal fade" id="Login" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <form action = "/login" method="POST">
        Enter your username:
        <input type="text" name="name"><br>
        <br>
        Enter a password:
        <input type="password" name="password" value ="password" id="passwordInput"><br>
        <br>
        <input type="checkbox" onclick="myFunction()">Show Password
      </div>
      <div class="modal-footer">
        <input type="Submit">
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Register Form Modal -->
<div class="modal fade" id="Register" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="exampleModalLabel">Register</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action = "/register" method="POST">
            Enter your username:
            <input type="text" name="name"><br>
            <br>
            Enter a password:
            <input type="text" name="password"><br>
            <br>
      </div>
      <div class="modal-footer">
        <input type="submit" id="new_user_submit", value="Register">
        </form>
      </div>
    </div>
  </div>
</div>

<script>

//This references the search student modal and acts as the eventClicker
jQuery(document).ready(function() {
 // executes when HTML-Document is loaded and DOM is ready
console.log("document is ready");
  
  // Looks for the button for behavior that's linked & shows the the modal
  jQuery('.btn[href]').click(function(e){
    // prevents from taking it to the href
    e.preventDefault();
    // take the href of the element that was clicked on
    let href = jQuery(this).attr('href');
    // select the item with that href and show the modal
    jQuery(href).modal('toggle');
  });
});  


function myFunction() {
    var x = document.getElementById("passwordInput");
    if (x.type === "password") {
        x.type = "text";
    } else {
        x.type = "password";
    }
}

 </script >


  {% block content %} put your content here {% endblock %}



</body>
</html>