<!doctype html>
<html>
<head>

  <title>Behavior_Tracker</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>


</head>

<div class="topnav">
    <a class="active" href="/login">Login</a>
    {% if 'user_id' in session %}
        <a href="/user_info/{{ session['user_id'] }}">User Info</a>
        <a href="/student_search">Search Students</a>
    {% endif %}
    <a href="/interventions">Interventions</a>
    <a href="/behaviors">Behaviors</a>
    <a href="/logout">logout</a>
</div>

<body>

  <ul>
        {% for message in get_flashed_messages() %}
            <li> {{ message }} </li>
        {% endfor %}
  </ul>

  Behaviors
  <hr>

  {% block content %} put your content here {% endblock %}

</body>
</html>