{% extends 'base.html' %}
{% block content %}

<a href="/student_history/{{ student.student_id }}" name="student_history"> Return to student history!</a><br><br>

<!-- Button trigger addProgressModal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addProgressModal">Add a Progress Report
</button>

<h2> Behavior Progress: </h2>

<p>Student Name: {{ student.fname }} {{ student.lname }}</p>
<p>Behavior: {{ behavior.behavior_name }}</p>
<p>Behavior Description:</p>
<ul id="behavior_description">
    {% for description in behavior_description %}
        <li> {{ description }} <br>
        </li>
    {% endfor %}
</ul>

<div class="container">
    <h3>Behavior Progress Chart</h3>
    <div>
        <canvas id="myChart"></canvas>
    </div>
</div>



<!-- Add Progress Form Modal -->
<div class="modal fade" id="addProgressModal" tabindex="-1" role="dialog" aria-labelledby="addProgressModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="exampleModalLabel">Add Progress</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action = "/add_progress/{{ student.student_id }}" method="POST">
        <div>
        Date:
        <input type="date" name="date"><br>
        </div>
        <fieldset>
            <legend>Behavior:</legend><br>
            {% for behavior in behaviors_list %}
                <input type="radio" name="behave", value="{{ behavior.behavior_id }}">
                {{ behavior.behavior_name }}
                <br>
            {% endfor %}
            <br>
        </fieldset>
        <fieldset>
            <legend>Intervention:</legend><br>
            {% for intervention in interventions %}
                <input type="radio" name="intervent", value="{{ intervention.intervention_id }}">{{ intervention.intervention_name }}
                <br>
            {% endfor %}
            <br>
        </fieldset>
        <div>
            Rating (0-10:  0 is no progress, 10 is excellent progress):
            <select name="rating">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>
        <br>
        <p>
            Comment:
            <input type="text" name="comment"><br>
        </p>
        <br>
      </div>
      <div class="modal-footer">
        <input type="Submit">
        </form>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">

let behavior_progress = {{ behavior_progress_json|tojson }}
behavior_progress = JSON.parse(behavior_progress)
// console.log(behavior_progress);

// for (let k in behavior_progress){
//     console.log(k);
//     console.log(behavior_progress[k]['background_color']);
//     console.log(behavior_progress[k]['border_color']);
//     console.log(behavior_progress[k]['data']);
// }

const graph_data = [];
for (let b in behavior_progress){
    const b_name = new Object(); 
    b_name.label = b;
    b_name.borderColor = behavior_progress[b]['border_color'];
    // b_name.background_color = behavior[b]['background_color'];
    b_name.data = behavior_progress[b]['data'];
    b_name.fill= false;
    graph_data.push(b_name);
}

let label_name = [];
for (let name in behavior_progress){
    label_name.push(name);
}

console.log(graph_data); 

let ctx = document.getElementById('myChart').getContext('2d');
let chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
        data: {
            labels: ['Most Recent Rating', 'Rating', 'Rating', 'Rating',
                     'Rating', 'Rating', 'Rating', 'Oldest Rating'],
            datasets: graph_data
            },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        max: 10,
                        min: 0,
                        stepSize: 1
                    }
                }]
            }
        }
    });
</script>


<h2>Progresss History</h2>

<ul id="behavior_progress">
    {% for item in progress %}
        <li> Progress Report: <br>
             Date: {{ item.date }}<br>
             Behavior: {{ item.behavior.behavior_name }}<br>
             Intervention: {{ item.intervention.intervention_name }}<br>
             User_id: {{ item.user_id }}<br>
             Rating: {{ item.rating }}<br>
             Comment: {{ item.comment }}<br>
             <br>
        </li>
    {% endfor %}
</ul>

{% endblock %}