{% extends 'base.html' %}
{% block content %}

<style>
body{
  background: #FCE7CF;
}

.behavior-item #name{
    color: #028090;
}
</style>

<div id="bloodhound">
  <input class="typeahead" type="text" placeholder="Search Behaviors" >
</div>

<h3>Behaviors</h3>

<!-- Button trigger modal -->
<button type="button" class="btn btn-light" data-toggle="modal" data-target="#addBehaviorModal" style="background-color: #028090;">
Add a Behavior
</button>

<!-- Modal -->
<div class="modal fade" id="addBehaviorModal" tabindex="-1" role="dialog" aria-labelledby="addBehaviorModal "aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title" id="exampleModalLabel">Add Behavior</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <form action = "/add_behavior" method="POST">
                Enter behavior name:
                <input type="text" name="behavior_name"><br>
                Enter behavior description:
                <input type="text" name="behavior_description"><br>
                Please enter any associated interventions for this behavior (optional):
                <input type="text" name="associated_interventions"><br>
            </div>
            <div class="modal-footer">
                <input type="Submit">
                </form>
            </div>
        </div>
    </div>
</div>


<div class="behaviors-container" id="behaviors">
    {% for item in behaviors %}
        <div class="behavior-item">
            <!-- creates link to activate modal -->
            <li>
                <a id = "name" href="#{{ item.behavior_id }}" class="btn">
                        {{ item.behavior_name }}
                </a>
            </li>
            <!-- creates modal -->
            <div class="modal fade" id="{{ item.behavior_id }}" 
                 tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 >
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" 
                                    data-dismiss="modal" aria-label="Close"
                            >
                                <span aria-hidden="true">Close</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <h2>{{ item.behavior_name }}</h2>
                            <p>Behavior Description:</p>
                            <ul id="behavior_info">
                                {% for item in item.behavior_description %}
                                    <li>{{ item }}</li>
                                {% endfor %}
                            </ul>
                            <p>Commonly associated interventions:</p>
                            <ul id="associated_interventions">
                                {% for intervention in item.interventions %}
                                    <li>{{ intervention.intervention_name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>     
    {% endfor %}
</div>


<script>
"use strict";
const behaviors = JSON.parse({{ behaviors_json|tojson }});
console.log(behaviors);

// constructs the suggestion engine
let behavior_search = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.whitespace,
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  // `interventions` is the array if intervention names created in server.py
  local: behaviors
});

$('#bloodhound .typeahead').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
},
{
  name: 'behaviors',
  source: behavior_search 
});


// Code below makes the modal window w behavior information pop up when autoselected from typeahead.
// creates an object matching behavior names to respective behavior ids.  
const b_id = JSON.parse({{ b_id_json|tojson }});

// specify what should happen when the object is acted on
function showModal(evt, behave){
        // this shows the modal with the behavior_id when triggered by the eventhandler below.
        $('#' + b_id[behave]).modal('show');
};

//calls the showModal funtion with the value typed in when selected from the tyepahead field. 
$('.typeahead').bind('typeahead:select', showModal);


// This code makes the modals pop up when the behaviors are clicked on.
//This references the behavior info modals
jQuery(document).ready(function() {
 // executes when HTML-Document is loaded and DOM is ready
console.log("document is ready");
  
  // Looks for the button for behavior that's linked & shows the the modal
  jQuery('.btn[href]').click(function(e){
    // prevents from taking it to the href
    e.preventDefault();
    // take the href of the element that was clicked on
    let href = jQuery(this).attr('href');
    // select the item with that href and show the modal
    jQuery(href).modal('toggle');
    });
  });

</script >

{% endblock %}