{% extends 'base.html' %}
{% block content %}

<a href="/student_history/{{ student.student_id }}" name="student_history"> Return to student history!</a><br><br>

<a href="/add_progress/{{ student.student_id }}" name="new_progress"> Add a new progress report!</a>


<h2> Behavior Progress: </h2>

<p>Student Name: {{ student.fname }} {{ student.lname }}</p>
<p>Behavior: {{ behavior.behavior_name }}</p>
<p>Behavior Description:</p>
<ul id="behavior_description">
    {% for description in behavior_description %}
        <li> {{ description }} <br>
        </li>
    {% endfor %}
</ul>

<div class="container">
    <h3>Behavior Progress Chart</h3>
    <div>
        <canvas id="myChart"></canvas>
    </div>
</div>

<script type="text/javascript">

let behavior_progress = {{ behavior_progress_json|tojson }}
behavior_progress = JSON.parse(behavior_progress)
console.log(behavior_progress);

for (let k in behavior_progress){
    console.log(k);
    console.log(behavior_progress[k]['background_color']);
    console.log(behavior_progress[k]['border_color']);
    console.log(behavior_progress[k]['data']);
}

const graph_data = [];
for (let b in behavior_progress){
    const b_name = new Object(); 
    b_name.label = b;
    b_name.borderColor = behavior_progress[b]['border_color'];
    // b_name.background_color = behavior[b]['background_color'];
    b_name.data = behavior_progress[b]['data'];
    b_name.fill= false;
    graph_data.push(b_name);
}

let label_name = [];
for (let name in behavior_progress){
    label_name.push(name);
}

console.log(graph_data); 

let ctx = document.getElementById('myChart').getContext('2d');
let chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
        data: {
            labels: ['Most Recent Rating', 'Rating', 'Rating', 'Rating',
                     'Rating', 'Rating', 'Rating', 'Oldest Rating'],
            datasets: graph_data
            },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        max: 10,
                        min: 0,
                        stepSize: 1
                    }
                }]
            }
        }
    });
</script>


<h2>Progresss History</h2>

<ul id="behavior_progress">
    {% for item in progress %}
        <li> Progress Report: <br>
             Date: {{ item.date }}<br>
             Behavior: {{ item.behavior.behavior_name }}<br>
             Intervention: {{ item.intervention.intervention_name }}<br>
             User_id: {{ item.user_id }}<br>
             Rating: {{ item.rating }}<br>
             Comment: {{ item.comment }}<br>
             <br>
        </li>
    {% endfor %}
</ul>

{% endblock %}