{% extends 'base.html' %}
{% block content %}
<div class="container">

<style>

.student-history{
    color: #028090;
}

h4{
    font-family: Baloo Bhai;
}

.student{
    font-family: Open Sans;
}

body{
  background: #FCE7CF;
}
</style>

<h4> Behavior Progress: </h4>

<p class='student'>Student Name: {{ student.fname }} {{ student.lname }}</p>


<a class = "student-history" href="/student_history/{{ student.student_id }}" name="student_history"> Return to student history</a><br>
</div>

<div class="container">
<!--     <h3>Behavior Progress Chart</h3>
 -->    <div>
        <canvas id="myChart"></canvas>
    </div>
</div>

<script type="text/javascript">

let behavior_progress = {{ behavior_progress_json|tojson }}
behavior_progress = JSON.parse(behavior_progress)

const graph_data = [];
for (let b in behavior_progress){
    const b_name = new Object(); 
    b_name.label = b;
    b_name.borderColor = behavior_progress[b]['border_color'];
    // b_name.background_color = behavior[b]['background_color'];
    b_name.data = behavior_progress[b]['data'];
    b_name.fill= false;
    graph_data.push(b_name);
    // this reverses the order of the data so that the visual presenatation is accureate on the graph.
    b_name.data.reverse()
}

let label_name = [];
for (let name in behavior_progress){
    label_name.push(name);
}


let ctx = $('#myChart');
let chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
        data: {
            labels: ['Most Recent Rating', 'Rating', 'Rating', 'Rating',
                     'Rating', 'Rating', 'Rating', 'Oldest Rating'],
            datasets: graph_data
            },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        max: 10,
                        min: 0,
                        stepSize: 1
                    }
                }]
            }
        }
    });
</script>

<div class="container">
<button class="btn btn-dark" type="button" data-toggle="collapse" style="background-color: #028090;" data-target="#{{ behavior.behavior_name|replace(" ", "_") }}" aria-expanded="false" aria-controls="collapseExample">
{{ behavior.behavior_name }}
</button>

<div class="collapse" id="{{ behavior.behavior_name|replace(" ", "_") }}">
  <div class="card card-body">
    <ul id="behavior_description">
    {% for description in behavior_description %}
        <li> {{ description }} <br>
        </li>
    {% endfor %}
    </ul>
  </div>
</div>

<!-- Button trigger addProgressModal -->
<button type="button" class="btn btn-dark" data-toggle="modal" style="background-color: #028090;" data-target="#addProgressModal">Add a Progress Report
</button>

<!-- Button trigger send SMS -->
<button type="button" class="btn btn-dark" data-toggle="modal" style="background-color: #028090;" data-target="#sendSMSModal">Text Progress Report Home
</button>
</div>

<!-- Add SMS # Form Modal -->
<div class="modal fade" id="sendSMSModal" tabindex="-1" role="dialog" aria-labelledby="sendSMSModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="exampleModalLabel">Send a text</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <form action = "/send_progress/{{ student.student_id }}" method="GET">
        
        <div>
        Enter Message:
        <input type="text" name="comment"><br>
        </div>
        <fieldset>
            <legend>Progress Report:</legend><br>
            {% for item in progress %}
                <input type="radio" name="report", 
                    value=" Progress Report:
                    Date: {{ item.date.strftime('%b %d, %Y') }}
                    Behavior: {{ item.behavior.behavior_name }}
                    Intervention: {{ item.intervention.intervention_name }}
                    User_id: {{ item.user_id }}
                    Rating: {{ item.rating }}
                    Comment: {{ item.comment }}"
                >{{ item.date.strftime('%b %d, %Y') }}
                <br>
            {% endfor %}
            <br>
        </fieldset>
      </div>
      <div class="modal-footer">
        <input type="Submit">
        </form>
      </div>
    </div>
  </div>
</div>




<!-- Add Progress Form Modal -->
<div class="modal fade" id="addProgressModal" tabindex="-1" role="dialog" aria-labelledby="addProgressModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="exampleModalLabel">Add Progress</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action = "/add_progress/{{ student.student_id }}" method="POST">
        <div>
        Date:
        <input type="date" name="date"><br>
        </div>
        <br>
            <div>
                Select the behavior you'd like to target:
                <select name="behave">
                {% for behavior in behaviors_list %}
                    <option value="{{ behavior.behavior_id }}">{{ behavior.behavior_name }}</option>
                {% endfor %}
                </select>
            </div>
            <br>
            <div>
                Select the intervention you'd like to use:
                <select name="intervent">
                {% for intervention in interventions %}
                    <option value="{{ intervention.intervention_id }}">{{ intervention.intervention_name }}
                    </option>
                {% endfor %}
                </select>
            </div>
            <br>
        <div>
            Rating (0-10:  0 is no progress, 10 is excellent progress):
            <select name="rating">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>
        <br>
        <p>
            Comment:
            <input type="text" name="comment"><br>
        </p>
        <br>
      </div>
      <div class="modal-footer">
        <input type="Submit">
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container">
<h4>Progress History</h4>

<ul id="behavior_progress_buttons">
    {% for item in progress %}
        <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#A{{ item.progress_id }}" style="background-color: #028090;" aria-expanded="false" aria-controls="collapseExample">{{ item.date.strftime('%b %d, %Y') }}
        </button>
    {% endfor %}
</ul>

<ul id="behavior_progress">
    {% for item in progress %}
        <div class="collapse" id="A{{ item.progress_id }}">
            <div class="card card-body">
               <li> Progress Report: <br>
                    Date: {{ item.date.strftime('%b %d, %Y') }}<br>
                    Behavior: {{ item.behavior.behavior_name }}<br>
                    Intervention: {{ item.intervention.intervention_name }}<br>
                    User_id: {{ item.user_id }}<br>
                    Rating: {{ item.rating }}<br>
                    Comment: {{ item.comment }}<br>
                </li>
            </div>
        </div>
    {% endfor %}
</ul>
</div>
{% endblock %}