{% extends 'base.html' %}
{% block content %}

<style>

html, body {

height: 100%;
width: 100%;
}
body {
    background: url(/static/images/homepage.jpg) no-repeat center center;
    background-size: cover;

}

h1{
    text-align: center;
    margin-top: 6rem;
    font-weight: bold;
    font-family: 'Baloo Bhai', cursive;
    font-size: 100px;
    color: #F46036;
}

h2{
    text-align: center;
    margin-top: 6rem;
    font-weight: bold;
    font-family: 'Baloo Bhai', cursive;
    font-size: 100px;
    color: #00A896;
}

.tilda {
    color: #38A000;
}


</style>

<div id="title">
<h1>carrot <span class="tilda" >~</span></h1>
    </div>

<!-- <span class="tilda">~</span>
 -->
<!-- 
<div class="container">
    <div>
        <img src="" alt="photo cannot be displayed" id="picture">
    </div>
</div>
 -->
 <script>

// // uses ajax & jquery to generate random src linked to an image generator

// $.ajax({
//   url: 'https://randomuser.me/api/',
//   dataType: 'json',
//   success: function(data) {
//     console.log(data);
//     let photo = $('#picture');
//     photo.attr('src', data.results[0].picture.thumbnail);
//   }
// });


 </script>

{% endblock %}