{% extends 'base.html' %}
{% block content %}



<!-- Login Form Modal -->
<div class="modal fade" id="Login" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action = "/login" method="POST">
        Enter your username:
        <input type="text" name="name"><br>
        <br>
        Enter a password:
        <input type="text" name="password"><br>
        <br>
      </div>
      <div class="modal-footer">
        <input type="Submit">
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Register Form Modal -->
<div class="modal fade" id="Register" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="exampleModalLabel">Register</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action = "/register" method="POST">
            Enter your username:
            <input type="text" name="name"><br>
            <br>
            Enter a password:
            <input type="text" name="password"><br>
            <br>
      </div>
      <div class="modal-footer">
        <input type="submit" id="new_user_submit", value="Register">
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="row justify-content-md-center">
<h2>Buzz Kill Basics</h2>
    </div>
<div class="container">
    <div class="row justify-content-md-center">
<h4>( Behavior Interventions)</h4>
</div>
    <div class="row">
<ol id="basics">
    <li>Choose a behavior you'd like to address and thoughtfully select ONE intervention to address it. 
    </li><br>
    <li>Collect baseline data.  Collect 3-5 data-points before starting the intervention to determine the student’s baseline, or starting point, in the behavior that is being addressed. This baseline will be useful to compare to the the outcome and measure progress after implementing the intervention. 
    </li><br>
    <li>Determine the length of the intervention.  Good practice suggests 6 weeks, or at least 6 data points, to evaluate meaningful progress.
    </li><br>
    <li>Based on the baseline and the length of the intervention, determine the intervention goal.  
    </li><br>
    <li>Once you've tried the intervention for the determined timeframe, evaluate progress.  This is a good opportunity to reflect on how appropriate the intervention was for the targetted behavior, strategize next steps, and celebrate student success!  
    </li><br>
</ol}>
    </div>
</div>


<div class="container">
    <div>
        <img src="" alt="photo cannot be displayed" id="picture">
    </div>
</div>

<script>

// uses ajax & jquery to generate random src linked to an image generator

$.ajax({
  url: 'https://randomuser.me/api/',
  dataType: 'json',
  success: function(data) {
    console.log(data);
    let photo = $('#picture');
    photo.attr('src', data.results[0].picture.thumbnail);
  }
});


</script>

{% endblock %}