{% extends 'base.html' %}
{% block content %}

<div id="bloodhound">
  <input class="typeahead" type="text" placeholder="Search Interventions">
</div>

<h2>Interventions</h2>

<!-- Button trigger addIntervention modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addInterventionModal">
  Add an intervention
</button>

<!-- Add Intervention Form Modal -->
<div class="modal fade" id="addInterventionModal" tabindex="-1" role="dialog" aria-labelledby="addInterventionModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="exampleModalLabel">Add Intervention</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action = "/add_intervention" method="POST">
        Enter intervention name:
        <input type="text" name="intervention_name"><br>
        Please enter any behaviors this intervention targets (optional):
        <input type="text" name="intervention_behaviors"><br>
      </div>
      <div class="modal-footer">
        <input type="Submit">
        </form>
      </div>
    </div>
  </div>
</div>


<div class="interventions-container" id="interventions">
    {% for item in interventions %}
        <div class="intervention-item">
            <ul>
                <li>Name: {{ item.intervention_name }}</li>
                <li>
                    Associated Behaviors:
                    <ul id="associated_behaviors">
                        {% for behavior in item.behaviors %}
                            <li>
                                <a href="#{{ behavior.behavior_id }}" class="btn">
                                    {{ behavior.behavior_name }}
                                </a>
                            </li>

                            <div class="modal fade" id="{{ behavior.behavior_id }}"
                                 tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel"
                            >
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close"
                                                    data-dismiss="modal" aria-label="Close"
                                            >
                                                <span aria-hidden="true">Close</span>
                                            </button>
                                        </div>

                                        <div class="modal-body">
                                            <h2>{{ behavior.behavior_name }}</h2>
                                            <p>Behavior Description:</p>
                                            <ul id="behavior_info">
                                                {% for item in behavior.behavior_description %}
                                                    <li>{{ item }} </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    {% endfor %}
</div>


<script >
const interventions = JSON.parse({{ interventions_json|tojson }});
console.log(interventions);

// constructs the suggestion engine
let intervention_search = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.whitespace,
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  // `interventions` is the array if intervention names created in server.py
  local: interventions
});

$('#bloodhound .typeahead').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
},
{
  name: 'interventions',
  source: intervention_search
});



//This references the intervention info modals and acts as the eventClicker
jQuery(document).ready(function() {
 // executes when HTML-Document is loaded and DOM is ready
console.log("document is ready");
  
  // Looks for the button for behavior that's linked & shows the the modal
  jQuery('.btn[href]').click(function(e){
    // prevents from taking it to the href
    e.preventDefault();
    // take the href of the element that was clicked on

    let href = jQuery(this).attr('href');
    // select the item with that href and show the modal
    jQuery(href).modal('toggle');
  });
});  


</script >

{% endblock %}


