{% extends 'base.html' %}
{% block content %}

<style>
body{
  background: #FCE7CF;
}

.intervention-item #name{
  color: #028090;
}

</style>

<div id="bloodhound">
  <input class="typeahead" type="text" placeholder="Search Interventions">
</div>

<h2>Interventions</h2>

<!-- Button trigger addIntervention modal -->
<button type="button" class="btn btn-light" data-toggle="modal" style="background-color: #028090;" data-target="#addInterventionModal">
  Add an intervention
</button>

<!-- Add Intervention Form Modal -->
<div class="modal fade" id="addInterventionModal" tabindex="-1" role="dialog" aria-labelledby="addInterventionModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="exampleModalLabel">Add Intervention</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action = "/add_intervention" method="POST">
        Enter intervention name:
        <input type="text" name="intervention_name"><br>
        Please enter any behaviors this intervention targets (optional):
        <input type="text" name="intervention_behaviors"><br>
      </div>
      <div class="modal-footer">
        <input type="Submit">
        </form>
      </div>
    </div>
  </div>
</div>


<div class="interventions-container" id="interventions">
  <div class="row">
    <div class="col-sm">
  {% for item in interventions %}
  <div class = "intervention-item">
    <!-- creates a link to activate modal -->
    <li><a id = "name" href="#{{ item.intervention_id }}" class="btn">{{ item.intervention_name }}
    </a></li>
    <!-- creates the content for the modal -->
      <div class="modal fade" id="{{ item.intervention_id }}"
             tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                
                <button type="button" class="close"
                          data-dismiss="modal" aria-label="Close"
                >
                  <span aria-hidden="true">Close</span>
                </button>
              </div>

            <div class="modal-body">
              <h3>{{ item.intervention_name }}</h3>
              <p>Associated Behaviors:</p>
                {% for behavior in item.behaviors %}
                  <h5>{{ behavior.behavior_name }}</h5>
                  <p>Behavior Description:</p>
                  <ul id="behavior_info">
                    {% for item in behavior.behavior_description %}
                      <li>{{ item }} </li>
                    {% endfor %}
                  </ul>
                {% endfor %}
            </div>
          </div>
        </div>
      </div>
  {% endfor %}
</div>
</div>
</div>


<script >
const interventions = JSON.parse({{ interventions_json|tojson }});
console.log(interventions);

// constructs the suggestion engine
let intervention_search = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.whitespace,
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  // `interventions` is the array if intervention names created in server.py
  local: interventions
});

$('#bloodhound .typeahead').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
},
{
  name: 'interventions',
  source: intervention_search
});



// Code below makes the modal window w behavior information pop up when autoselected from typeahead.
// creates an object matching behavior names to respective behavior ids.  
const int_id = JSON.parse({{ int_id_json|tojson }});

// specify what should happen when the object is acted on
function showModal(evt, behave){
        // this shows the modal with the behavior_id when triggered by the eventhandler below.
        $('#' + int_id[behave]).modal('show');
};

//calls the showModal funtion with the value typed in when selected from the tyepahead field. 
$('.typeahead').bind('typeahead:select', showModal);




//This references the intervention info modals and acts as the eventClicker
jQuery(document).ready(function() {
 // executes when HTML-Document is loaded and DOM is ready
console.log("document is ready");
  
  // Looks for the button for behavior that's linked & shows the the modal
  jQuery('.btn[href]').click(function(e){
    // prevents from taking it to the href
    e.preventDefault();
    // take the href of the element that was clicked on
    let href = jQuery(this).attr('href');
    // select the item with that href and show the modal
    jQuery(href).modal('toggle');
  });
});  


</script >

{% endblock %}


