{% extends 'base.html' %}
{% block content %}

<h2>Interventions</h2>

<ul id="interventions">
    {% for item in interventions %}
        <li> Name: {{ item.intervention_name }}<br>
             Associated Behaviors:<br>
             <ul id="associated_behaviors">
                {% for behavior in item.behaviors %}
                    <li>{{ behavior.behavior_name }}</li>
                {% endfor %}
                </ul>
        </li><br>
    {% endfor %}
</ul>

 <a href="/new_intervention" name="new_intervention"> Add a new intervention! </a>


{% endblock %}