{% extends 'base.html' %}
{% block content %}


<h1> Welcome</h1>

<h2> Please log in: </h2>

 
<form action = "/login" method="POST">
    Enter your username:
    <input type="text" name="name"><br>
    <br>
    Enter a password:
    <input type="text" name="password"><br>
    <br>
    <input type="submit">
</form>

<h2>Behavior Intervention Basics</h2>
<ul id="basics">
    <li> 1) Choose one targeted behavior and the intervention that you will employ. 
    </li><br>
    <li> 2) Collect baseline data.  Collect 3-5 data-points prior to starting the intervention to calculate the student’s baseline, or starting point, in the skill or behavior that is being targeted for intervention. The student’s baseline performance serves as an initial marker against which to compare his or her outcome performance at the end of the intervention.
    </li><br>
    <li> 3) Determine the length of the intervention.  Good practice suggests 6-8 weeks to evaluate meaningful progress.
    </li><br>
    <li> 4) Based on the baseline and the length of the intervention, determine the intervention goal.  
    </li><br>
    <li> 5) Once you've tried the intervention for the determined timeframe, evaluate the outcome.  This is a good opportunity to reflect on how appropriate the intervention was for the targetted behavior, strategize next steps, and celebrate student success!  
    </li><br>
</ul>

{% endblock %}