{% extends 'base.html' %}
{% block content %}


<h1> Welcome</h1>

<h2> Please log in: </h2>

 
<form action = "/login" method="POST">
    Enter your username:
    <input type="text" name="name"><br>
    <br>
    Enter a password:
    <input type="text" name="password"><br>
    <br>
    <input type="submit">
</form>

<h2>Behavior Intervention Basics</h2>
<ul id="basics">
    <li> 1) Choose one targeted behavior and thoughtfully select one intervention to address it. 
    </li><br>
    <li> 2) Collect baseline data.  Collect 3-5 data-points before starting the intervention to determine the student’s baseline, or starting point, in the behavior that is being targeted for intervention. This baseline will be useful to compare to the the outcome and measure progress after implementing the intervention. 
    </li><br>
    <li> 3) Determine the length of the intervention.  Good practice suggests 6-8 weeks to evaluate meaningful progress.
    </li><br>
    <li> 4) Based on the baseline and the length of the intervention, determine the intervention goal.  
    </li><br>
    <li> 5) Once you've tried the intervention for the determined timeframe, evaluate progress.  This is a good opportunity to reflect on how appropriate the intervention was for the targetted behavior, strategize next steps, and celebrate student success!  
    </li><br>
</ul>

{% endblock %}