{% extends 'base.html' %}

{% block content %}

<h2>Student History</h2>

<p>Student Name : {{ student.fname }} {{ student.lname }}</p>
<p>Birthdate : {{ student.birthdate }}</p>


<a href="/add_progress/{{ student.student_id }}" name="new_progress"> Add a new progress report! </a>

<h3>Behaviors being tracked. Click on behavior to see history:</h3>
<ul id="student_progress">
    {% for item in behaviors %}
        <li> <a href="/student_history/{{ student.student_id }}/behavior_history?behavior_name={{ item }}" name="behavior_history">{{ item }}</a><br>
        </li>
    {% endfor %}
</ul>


{% for behavior in behaviors.keys() %}
{% for date in behaviors[behavior] %}
{{ behaviors[behavior][date] }}
{% endfor %}
{% endfor %}




<canvas id="myChart"></canvas>

<script>
let ctx = document.getElementById('myChart').getContext('2d');
let myChart = new Chart(ctx, {
  type: 'line',
  data: {
    // I want lebels to be dates, depending on progress reports
    labels: ['M', 'T', 'W', 'T', 'F', 'S', 'S'],
    // I want dataset to be labels = behaviors and data = ratings
    datasets: [{
      label: 'apples',
      data: [12, 19, 3, 17, 6, 3, 7],
      backgroundColor: "rgba(153,255,51,0.4)"
    }, {
      label: 'oranges',
      data: [2, 29, 5, 5, 2, 3, 10],
      backgroundColor: "rgba(255,153,0,0.4)"
    }]
  }
});
</script>


<h3> Progress Reports: </h3>

<ul id="student_progress">
    {% for item in progress %}
        <li> Progress Report: <br>
             Date: {{ item.date }}<br>
             Behavior: {{ item.behavior.behavior_name }}<br>
             Intervention: {{ item.intervention.intervention_name }}<br>
             User_id: {{ item.user_id }}<br>
             Rating: {{ item.rating }}<br>
             Comment: {{ item.comment }}<br>
             <br>
        </li>
    {% endfor %}
</ul>

{% endblock %}