{% extends 'base.html' %}

{% block content %}

<h4>Student History</h4>

<p>Student Name : {{ student.fname }} {{ student.lname }}</p>
<p>Birthdate : {{ student.birthdate }}</p>
<p>Photo: <img src="{{ student.photo }}" alt="No Photo Available" style="width:100px;height:100px;"></p>

<p>Behaviors being tracked: </p>

<ul id="student_progress">
    {% for item in behaviors %}
        <li> <a href="/student_history/{{ student.student_id }}/behavior_history?behavior_name={{ item }}" name="behavior_history">{{ item }}</a><br>
         </li>
     {% endfor %}
</ul>

<div class="container">
    <h3>Progress Chart</h3>
    <div>
        <canvas id="myChart"></canvas>
    </div>
</div>


<!-- Button trigger addProgressModal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addProgressModal">Add a Progress Report
</button>


<!-- Button trigger editStudentProfile -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editStudentProfile">Edit Student Profile
</button>


<!-- Add Progress Form Modal -->
<div class="modal fade" id="addProgressModal" tabindex="-1" role="dialog" aria-labelledby="addProgressModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="exampleModalLabel">Add Progress</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action = "/add_progress/{{ student.student_id }}" method="POST">
            <div>
            Date:
            <input type="date" name="date"><br>
            </div>
            <br>
            <div>
                Select the behavior you'd like to target:
                <select name="behave">
                {% for behavior in behaviors_list %}
                    <option value="{{ behavior.behavior_id }}">{{ behavior.behavior_name }}</option>
                {% endfor %}
                </select>
            </div>
            <br>
            <div>
                Select the intervention you'd like to use:
                <select name="intervent">
                {% for intervention in interventions %}
                    <option value="{{ intervention.intervention_id }}">{{ intervention.intervention_name }}
                    </option>
                {% endfor %}
                </select>
            </div>
            <br>
            <div>
                Rating (0-10:  0 is no progress, 10 is excellent progress):
                <select name="rating">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
            <br>
            <p>
                Comment:
                <input type="text" name="comment"><br>
            </p>
            <br>
        </div>
        <div class="modal-footer">
            <input type="Submit">
        </form>
      </div>
    </div>
  </div>
</div>



<!-- Edit student profile Modal -->
<div class="modal fade" id="editStudentProfile" tabindex="-1" role="dialog" aria-labelledby="editStudentProfile" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="exampleModalLabel">Edit Student Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <form action = "/edit_student/{{ student.student_id }}" method="POST">
        <h2>{{ student.fname }} {{ student.lname }}</h2>
        <p><img src="{{ student.photo }}" alt="No Photo Available" style="width:100px;height:100px;"></p>
        <p>Student ID: {{ student.student_id }}</P>
        <p>Current phone number: {{ student.phone_number }}</P>
        <p>Birthdate: {{ student.birthdate }}</P>
        <div>
        First Name:
        <input type="text" name="fname"><br>
        </div>
        <div>
        Student birthdate:
        <input type="date" name="birthdate"><br>
        </div>
        <div>
        Phone Number:
        <input type="text" name="phone_number"><br>
        </div>
        <div>
        Update Photo:
        <input type="text" name="photo"><br>
        </div>
      </div>
      <div class="modal-footer">
        <input type="Submit">
        </form>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">

let behavior = {{ chart_json|tojson }};
behavior = JSON.parse(behavior);

const data_ary = [];
for (let b in behavior){
    const b_name = new Object(); 
    b_name.label = b;
    b_name.borderColor = behavior[b]['border_color'];
    // b_name.background_color = behavior[b]['background_color'];
    b_name.data = behavior[b]['data'];
    b_name.fill= false;
    data_ary.push(b_name);
    // this reverses the order of the data so that the visual presenatation is accureate on the graph.
    b_name.data.reverse()
}

let label_name = [];
for (let name in behavior){
    label_name.push(name);
}


let ctx = document.getElementById('myChart').getContext('2d');
let chart = new Chart(ctx, {
    // The type of chart 
    type: 'line',

    // The data for graph
        data: {
            labels: ['Oldest Rating', 'Rating', 'Rating', 'Rating',
                     'Rating', 'Rating', 'Rating', 'Most Recent Rating'],
            datasets: data_ary,
            },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        max: 10,
                        min: 0,
                        stepSize: 1
                    }
                }]
            }
        }
    });


</script>


<h3> Progress Reports: </h3>

<ul id="progress reports">
<p>
  {% for behavior in behaviors %}
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{ behavior|replace(" ", "_") }}" aria-expanded="false" aria-controls="collapse">{{ behavior }}<br>
  </button>
  {% endfor %}
</p>

  {% for behavior in behaviors %}
    {% for info in behaviors[behavior]['reports'] %} 
        <div class="collapse" id="{{ behavior|replace(" ", "_") }}">
            <div class="card card-body">
                <li>Date: {{ info[0] }}, Rating: {{ info[1] }}, Comment: {{ info[2] }}</li>
            </div>
        </div>
    {% endfor %}<br>
  {% endfor %}
</ul>

{% endblock %} 