{% extends 'base.html' %}
{% block content %}

<style>

body{
  background: #FCE7CF;
}

h2{
    font-family: Baloo Bhai;
}

#student{
    font-family: Open Sans;
}
</style>

<div class="container">
<h2>Students matching your search: </h2>
<br>

<ul id="student">
    {% for i in student %}
        <p><img src="{{ i.photo }}" alt="No Photo Available" style="width:100px;height:100px;"></p>
        <a href="/student_history/{{ i.student_id }}" name="student_id"> {{ i.fname }} {{ i.lname }}</a>
        <br>
        <br>
        
    {% endfor %}
</ul>
</div>



{% endblock %}