{% extends 'base.html' %}
{% block content %}

<h2>Students matching your search: </h2>

<p> Please click on Student ID to see student progress history: </p>

<ul id="student">
    {% for i in student %}
        <li> Student: <br>
             First name: {{ i.fname }}<br>
             Last name: {{ i.lname }}<br>
             Student ID: <a href="/student_history/{{ i.student_id }}" name="student_id"> {{ i.student_id }}</a>
             <br>
             <br>
        </li>
    {% endfor %}
</ul>

{% endblock %}