{% extends 'base.html' %}
{% block content %}

<h2>Student History</h2>

<p>Student Name : {{ student_name }} </p>

<a href="/add_progress/{{ student_id }}" name="new_progress"> Add a new progress report! </a>

<p> Progress Reports: </p>

<ul id="student_progress">
    {% for item in progress %}
        <li> Progress Report: <br>
             Date: {{ item.date }}<br>
             Behavior: {{ behavior_name }}<br>
             Intervention: {{ intervention_name }}<br>
             User_id: {{ item.user_id }}<br>
             Rating: {{ item.rating }}<br>
             Comment: {{ item.comment }}<br>
             <br>
        </li>
    {% endfor %}
</ul>

{% endblock %}