{% extends 'base.html' %}
{% block content %}

<style>

body{
  background: #FCE7CF;
}

h2{ 
    font-family: Baloo Bhai;
}

.card-deck{
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    font-family: 'Open Sans';
}

.card-deck a{
    color: #007B8C;
}

#student_info .card {
    flex: 0 0 auto;
    background: #FCF8F4;
    width: 200px !important;
}

</style>

<ul id="student_info" >
<div class="card-deck">
{% for student in user.students|sort(attribute='lname') %}
    <div class="card text-center bg-dark border-#028090 mb-3" style="width:18rem">
        <img class="card-img-top mx-auto" id="top" src="{{ student.photo }}" style="width:100px" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"> <p id="{{ student.student_id }}"><a href="/student_history/{{ student.student_id }}" data-toggle= "tooltip" title= "Phone: {{ student.phone_number }} Birthdate: {{ student.birthdate.strftime('%b %d, %Y') }} Student ID: {{ student.user_id }}" >{{ student.fname }} {{student.lname }}</a></p></h5>
        </div>
    </div>
{% endfor %}
</div>
</ul>



<div class="tooltip bs-tooltip-top" role="tooltip">
  <div class="arrow"></div>
  <div class="tooltip-inner">Tooltip Info
  </div>
</div>

<!-- addStudent Form Modal -->
<div class="modal fade" id="addStudent" tabindex="-1" role="dialog" aria-labelledby="addStudent" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="exampleModalLabel">Add Student</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <form action = "/add_student" method="POST">
            Enter student's first name:
            <input type="text" name="fname"><br>
            Enter student's last name:
            <input type="text" name="lname"><br>
            Enter student's birthdate:
            <input type="date" name="birthdate"><br>
            Enter phone number:
            <input type="text" name="phone"><br>
            Add a photo (link to jpg):
            <input type="text" name="photo"><br>
      </div>
      <div class="modal-footer">
        <input type="Submit">
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Edit user password Modal -->
<div class="modal fade" id="editUserPassword" tabindex="-1" role="dialog" aria-labelledby="editUserPassword" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="exampleModalLabel">Reset User Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <form action = "/edit_user/{{ user.user_id }}" method="POST">
        <h2>{{ user.user_name }}</h2>
        <div>
        Please enter your current password:
        <input type="text" name="current_password"><br>
        </div>
        <div>
        New Password:
        <input type="text" name="new_password"><br>
        </div>
      </div>
      <div class="modal-footer">
        <input type="Submit">
        </form>
      </div>
    </div>
  </div>
</div>

<script>

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})


</script>

{% endblock %}