{% extends 'base.html' %}
{% block content %}

<h2>Welcome, {{ user_name }}!</h2>

<p>User ID: {{ user_id }} </p>
 
<!-- Button trigger addStudent modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addStudent">
Add a student
</button>

<p> Click on Student ID to see student progress history: </p>

<ul id="student_info">
    {% for student in student_info %}
        <li> {{ student[0] }} {{ student[1] }}<br>
             Student ID: <a href="/student_history/{{ student[2] }}" name="student_id"> {{ student[2] }}</a>
             <br>
        </li>
    {% endfor %}
</ul>

<!-- addStudent Form Modal -->
<div class="modal fade" id="addStudent" tabindex="-1" role="dialog" aria-labelledby="addStudent" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="exampleModalLabel">Add Student</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action = "/add_student" method="POST">
            Enter student's first name:
            <input type="text" name="fname"><br>
            Enter student's last name:
            <input type="text" name="lname"><br>
            Enter studnet's birthdate:
            <input type="date" name="birthdate"><br>
            Enter phone number:
            <input type="text" name="phone"><br>
      </div>
      <div class="modal-footer">
        <input type="Submit">
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}