{% extends 'base.html' %}
{% block content %}

<h2>User-Info</h2>

<p>Username : {{ user_name }} </p>
<p>User ID: {{ user_id }} </p>
 
<form action = "/user_info/{{ user_id }}" method="GET">
    Would you like to add a new student?<br>
    <input type="radio" name="new_student" value="yes">Yes
    <input type="radio" name="new_student" value="no">No<br>
    <input type="submit" id="new_student_submit", value="submit">


<p> Please click on Student ID to see student progress history: </p>

<ul id="student_info">
    {% for student in student_info %}
        <li> Student: <br>
             First name: {{ student[0] }}<br>
             Last name: {{ student[1] }}<br>
             Student ID: <a href="/student_history/{{ student[2] }}" name="student_id"> {{ student[2] }}</a>
             <br>
             <br>
        </li>
    {% endfor %}
</ul>

{% endblock %}